PROSES 1- SCRAPPING

In [1]:
#menginstall google scraper
!pip install google-play-scraper

Requirement already satisfied: google-play-scraper in c:\users\theboyamenso\anaconda3\lib\site-packages (1.2.2)

In [2]:
from google_play_scraper import app
import pandas as pd
import numpy as np

In [3]:
 #scrape desire number of reviews
 from google_play_scraper import Sort, reviews

 result, continuation_token = reviews(
    'com.tokopedia.tkpd',
    lang= 'id',
    country = 'id',
    sort = Sort.NEWEST,
    count = 10000,
    filter_score_with = None
 )

 #scraping tokopedia

In [4]:
#membuat data frame dengan nama 'datacoba'
df = pd.DataFrame(np.array(result),columns=['review'])
df = df.join(pd.DataFrame(df.pop('review').tolist()))

#menampilkan data teratas
df

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,97fd9567-813d-4cc4-88cb-80055d42de75,Dede NATHAN,https://play-lh.googleusercontent.com/a-/AD5-W...,Salah satu Marketplace Terbaik di INDONESIA,5,0,3.204,2023-01-26 04:29:43,"Hi Toppers, terima kasih untuk rating dan ulas...",2023-01-26 05:02:05
1,799bf812-a9e8-43f7-963e-16c7382194f1,Ibnu Abas,https://play-lh.googleusercontent.com/a/AEdFTp...,"Kurir rekomendasinya super lambat, kalau kurir...",1,0,3.204,2023-01-26 03:53:35,"Hi Toppers, silakan sampaikan kritik/saran ata...",2023-01-26 04:24:28
2,f05bd820-4cee-429d-a17f-501b0ea8a543,Natali 25,https://play-lh.googleusercontent.com/a-/AD5-W...,mantaf diskonnya semoga semakin berjaya tokopedia,5,0,3.202,2023-01-26 03:38:47,"Toppers, terima kasih atas rating yang kamu be...",2023-01-26 04:02:02
3,d3de4d5b-c76b-49d6-b31a-5c37176c3c73,NoviyaNti0089 Yanti,https://play-lh.googleusercontent.com/a/AEdFTp...,Ik,5,0,None,2023-01-26 03:10:31,"Hi Toppers, terima kasih untuk rating dan ulas...",2023-01-26 04:02:05
4,4d491cf3-f609-404d-aaef-ee964d1ce7cc,enggineer muda,https://play-lh.googleusercontent.com/a-/AD5-W...,Ok,4,0,3.200.1,2023-01-26 02:35:43,Terima kasih sudah mempercayakan Tokopedia seb...,2023-01-26 03:43:14
...,...,...,...,...,...,...,...,...,...,...
9995,c47d0310-c493-4d51-8c95-22ad06d98b23,Dewi Fitriyana,https://play-lh.googleusercontent.com/a/AEdFTp...,promo mantab,5,0,3.196,2022-11-25 18:58:13,"Toppers, terima kasih atas rating yang kamu be...",2022-11-25 19:18:05
9996,0a352ce2-c332-4a37-901c-0ec202b48cce,Erni Setyowati,https://play-lh.googleusercontent.com/a-/AD5-W...,terimakasih Tokopedia atas traktiran belanja 0...,5,0,3.200.1,2022-11-25 18:55:18,"Toppers, terima kasih atas rating yang kamu be...",2022-11-25 19:18:08
9997,17653632-d54c-4264-ad42-5b21ace23c31,Budi Wisedewa,https://play-lh.googleusercontent.com/a-/AD5-W...,bagus pengiriman dan packing serta harga sesua...,5,1,3.199,2022-11-25 18:51:59,"Toppers, terima kasih atas rating yang kamu be...",2022-11-25 19:18:11
9998,518c486a-add3-4420-ac49-9419f001a9cd,niwre helas,https://play-lh.googleusercontent.com/a-/AD5-W...,good,5,0,3.199,2022-11-25 18:50:56,Terima kasih sudah mempercayakan Tokopedia seb...,2022-11-25 19:18:13
9999,5b9aea47-fded-4432-be2d-e9adaa1fbfb2,Athalla Farand,https://play-lh.googleusercontent.com/a-/AD5-W...,"Bintang 1 untuk aplikasi ini, saya mau buat ak...",1,0,3.173,2022-11-25 18:48:13,"Halo Toppers, terima kasih atas rating yang ka...",2022-11-25 19:18:16

In [5]:
#memastikan jumlah data
len(df.index)

10000

In [6]:
#untuk menampilkan nama, skor, tanggal, dan review
df[['userName','score','at','content']].head()

,userName,score,at,content
0,Dede NATHAN,5,2023-01-26 04:29:43,Salah satu Marketplace Terbaik di INDONESIA
1,Ibnu Abas,1,2023-01-26 03:53:35,"Kurir rekomendasinya super lambat, kalau kurir..."
2,Natali 25,5,2023-01-26 03:38:47,mantaf diskonnya semoga semakin berjaya tokopedia
3,NoviyaNti0089 Yanti,5,2023-01-26 03:10:31,Ik
4,enggineer muda,4,2023-01-26 02:35:43,Ok

In [7]:
#mengurutkan data berdasarkan tanggal
df_scrape = df[['userName','score','at','content']] 
df_sorted = df_scrape.sort_values(by='at', ascending=False) 
df_sorted.head()

,userName,score,at,content
0,Dede NATHAN,5,2023-01-26 04:29:43,Salah satu Marketplace Terbaik di INDONESIA
1,Ibnu Abas,1,2023-01-26 03:53:35,"Kurir rekomendasinya super lambat, kalau kurir..."
2,Natali 25,5,2023-01-26 03:38:47,mantaf diskonnya semoga semakin berjaya tokopedia
3,NoviyaNti0089 Yanti,5,2023-01-26 03:10:31,Ik
4,enggineer muda,4,2023-01-26 02:35:43,Ok

In [9]:
#menghapus variabel lain
df_scrape = df[['userName','score','at','content']]
df_scrape

,userName,score,at,content
0,Dede NATHAN,5,2023-01-26 04:29:43,Salah satu Marketplace Terbaik di INDONESIA
1,Ibnu Abas,1,2023-01-26 03:53:35,"Kurir rekomendasinya super lambat, kalau kurir..."
2,Natali 25,5,2023-01-26 03:38:47,mantaf diskonnya semoga semakin berjaya tokopedia
3,NoviyaNti0089 Yanti,5,2023-01-26 03:10:31,Ik
4,enggineer muda,4,2023-01-26 02:35:43,Ok
...,...,...,...,...
9995,Dewi Fitriyana,5,2022-11-25 18:58:13,promo mantab
9996,Erni Setyowati,5,2022-11-25 18:55:18,terimakasih Tokopedia atas traktiran belanja 0...
9997,Budi Wisedewa,5,2022-11-25 18:51:59,bagus pengiriman dan packing serta harga sesua...
9998,niwre helas,5,2022-11-25 18:50:56,good
9999,Athalla Farand,1,2022-11-25 18:48:13,"Bintang 1 untuk aplikasi ini, saya mau buat ak..."

In [10]:
df_scrape['score'].value_counts()

5    5152
1    3182
4     652
2     515
3     499
Name: score, dtype: int64

In [11]:
#menyimpan data
df_scrape.to_csv("Data_Scrape.csv", index = False)